<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hkd.luxc.dao.DepartmentMapper">
   <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    
   <select id="getDepartments" resultType="hkd.luxc.entities.Department">
     SELECT id ,dept_name deptName FROM department;
   </select> 
   
   
   <select id="getDepartment" resultType="hkd.luxc.entities.Department">
     SELECT id ,dept_name deptName FROM department WHERE id=#{id}
   </select> 
   
   
    
	
</mapper>